section.section-about.section-dark#about
	.container
		.row.align-items-center
			.col-12
				.title
					h2 Обновленный Кофе Хауз
					span Для тех, кто живет в ритме города
			.w-100
			.col-12.advantages-wrapper
				.row
					.owl-carousel.owl-about
						.advantages-item
							.advantages-item__icon
								svg(enable-background="new 0 0 31.7 26", version="1.1", viewbox="0 0 31.7 26", xml:space="preserve", xmlns="http://www.w3.org/2000/svg")
									style(type="text/css").
										.st0 {
											fill: none;
											stroke: #ef5646;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}

										.st1 {
											fill: none;
											stroke: #c6b3b5;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
									polyline.st0(points="12 15.1 15 18 31 2")
									line.st0(x1="7", x2="12", y1="10", y2="15.1")
									path.st1(d="M22.3,5.4C20.1,2.7,16.8,1,13,1C6.4,1,1,6.4,1,13s5.4,12,12,12s12-5.4,12-12")

							h3.advantages-item__title Кофе и еда
							p.advantages-item__text
								| Мы - настоящие эксперты в области вкусного кофе и доказываем, что он не должен быть дорогим. Мы используем собственные кофейные зерна, что делает наш кофе ароматным и насыщенным. Для перекуса мы предлагаем огромный выбор сэндвичей, свежую выпечку и Grab&GO.

						.advantages-item
							.advantages-item__icon
								svg(enable-background="new 0 0 31.7 26", version="1.1", viewbox="0 0 31.7 26", xml:space="preserve", xmlns="http://www.w3.org/2000/svg")
									style(type="text/css").
										.st0 {
											fill: none;
											stroke: #ef5646;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}

										.st1 {
											fill: none;
											stroke: #c6b3b5;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
									polyline.st0(points="12 15.1 15 18 31 2")
									line.st0(x1="7", x2="12", y1="10", y2="15.1")
									path.st1(d="M22.3,5.4C20.1,2.7,16.8,1,13,1C6.4,1,1,6.4,1,13s5.4,12,12,12s12-5.4,12-12")

							h3.advantages-item__title Быстро и удобно
							p.advantages-item__text
								| Быстрое обслуживание и приятная атмосфера делает Кофе Хауз идеальным местом для небольшого перекуса в городе с быстрым темпом жизни. Если вы спешите, еду в нашем формате подачи удобно взять с собой.

						.advantages-item
							.advantages-item__icon
								svg(enable-background="new 0 0 31.7 26", version="1.1", viewbox="0 0 31.7 26", xml:space="preserve", xmlns="http://www.w3.org/2000/svg")
									style(type="text/css").
										.st0 {
											fill: none;
											stroke: #ef5646;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}

										.st1 {
											fill: none;
											stroke: #c6b3b5;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
									polyline.st0(points="12 15.1 15 18 31 2")
									line.st0(x1="7", x2="12", y1="10", y2="15.1")
									path.st1(d="M22.3,5.4C20.1,2.7,16.8,1,13,1C6.4,1,1,6.4,1,13s5.4,12,12,12s12-5.4,12-12")

							h3.advantages-item__title Цена и качество
							p.advantages-item__text
								| Кофе Хауз - это недорогое, но качественное меню. Каждый напиток и блюдо мы готовим сами и используем только свежие продукты. Наша цель - сделать ваш перерыв вкусным и приятным.
