section.section-footer.section-dark
	.container
		.row
			.col-12.col-md-12.col-lg-auto.footer__info
				.logo-wrapper
					picture
						source(srcset="./images/logo.webp" type="image/webp")
						source(srcset="./images/logo@2x.png 2x")
						img(srcset="./images/logo.png" alt="" class="logo")
					p.copy &copy; 2018 «КофеХауз»
				.link-wrap
					//- a.link(href="#") Политика конфиденциальности #[br]#[br]

			.col-12.col-md-12.col-lg.footer__nav
				.footer__nav-links.footer__nav-links-col1
					a(href="#about") О компании #[br]
					a(href="#special-offers") Акции
				.footer__nav-links.footer__nav-links-col2
					a(href="#menu") Меню #[br]
					a(href="#" data-modal="all-address") Адреса

			.col-12.col-md-12.col-lg-4.col-xl-3.footer-social
				a(href="https://vk.com/ru_coffeehouse" target="_blank")
					+svg("vk")
				a(href="https://www.facebook.com/coffeehouse.ru/?ref=bookmarks" target="_blank")
					+svg("fb")
				a(href="https://www.instagram.com/coffeehouse" target="_blank")
					+svg("instagram")
				.link-wrap
					//- a.link.link-terms(href="#") Политика конфиденциальности#[br]#[br]#[br]
					a.link-pride(href="http://www.pride-media.ru") Разработка сайта: #[span Pride Media]
