style(type="text/css").
	header.header {
		background: #3f2b2d;
	}

header.header
	.container
		.row.align-items-center
			.col-12.col-md-5.col-lg-4
				.logo-wrapper
					picture
						source(srcset="./images/logo.webp" type="image/webp")
						source(srcset="./images/logo@2x.png 2x")
						img(srcset="./images/logo.png" alt="" class="logo")
					span Есть. Пить. Успевать.
			.col-12.col-sm.nav-desktop
				nav.nav
					ul
						li: a(href="#about") О компании
						li: a(href="#special-offers") Акции
						li: a(href="#menu") Меню
						li: a(href="#map") Адреса
			.col-12.col-sm-3.link-old_desktop
				a.link(href="https://classic.coffeehouse.ru/" target="_blank") Классический «Кофе Хауз»

			.menu-section
				.menu-toggle
					.one
					.two
					.three
				nav.nav.nav-mobile
					ul.hidden
						.logo-wrapper
							picture
								source(srcset="./images/logo.webp" type="image/webp")
								source(srcset="./images/logo@2x.png 2x")
								img(srcset="./images/logo.png" alt="" class="logo")
							span Есть. Пить. Успевать.
						li: a(href="#about") О компании
						li: a(href="#special-offers") Акции
						li: a(href="#menu") Меню
						li: a(href="#map") Адреса
						div.link-old_mobile
							a.link(href="https://classic.coffeehouse.ru" target="_blank") Классический «Кофе Хауз»
		.row.main-title-wrapper
			.col-12
				h1.main-title Место#[br] для идеального#[br] городского#[br]кофе-брейка
		.row
			.col-12
				button.link-no-opacity(data-modal="all-address") Найти #[span ближайшую кофейню]
