section.section-menu.section-ligth#menu
	.container
		.row.align-items-center
			.col-12
				.title
					h2 Меню
					span Обязательно попробуйте
	.container-fluid
		.row.menu-wrapper.owl-menu-mobile
			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--red
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/sandwich.webp" type="image/webp")
								source(srcset="images/sandwich@2x.png 2x")
								img(src="images/sandwich.png" alt="" class="menu-item__image menu-item__image_small")
						.menu-item-front__title Сэндвичи
					.menu-item-back
						picture
							source(srcset="images/wave.webp" type="image/webp")
							img(src="images/wave.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Сэндвичи
						button.menu-item-back__button(data-file="menu-sandwiches.pdf") Посмотреть меню

			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--red
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/combo.webp" type="image/webp")
								img(src="images/combo.png" alt="" class="menu-item__image menu-item__image_combo")
						.menu-item-front__title Комбо
					.menu-item-back
						picture
							source(srcset="images/wave.webp" type="image/webp")
							img(src="images/wave.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Комбо
						button.menu-item-back__button(data-file="menu-combo.pdf") Посмотреть меню

			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--brown
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/coffee-and-tea.webp" type="image/webp")
								source(srcset="images/coffee-and-tea@2x.png 2x")
								img(src="images/coffee-and-tea.png" alt="" class="menu-item__image menu-item__image_small menu-item__image_coffe-tea")
						.menu-item-front__title Кофе и чай
					.menu-item-back
						picture
							source(srcset="images/wave-red.webp" type="image/webp")
							img(src="images/wave-red.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Кофе и чай
						button.menu-item-back__button(data-file='menu-coffee-tea.pdf') Посмотреть меню

			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--brown
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/desserts_new.webp" type="image/webp")
								img(src="images/desserts_new.png" alt="" class="menu-item__image")
						.menu-item-front__title Десерты
					.menu-item-back
						picture
							source(srcset="images/wave-red.webp" type="image/webp")
							img(src="images/wave-red.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Десерты
						button.menu-item-back__button(data-file="menu-deserts.pdf") Посмотреть меню

			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--red
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/baking_new.webp" type="image/webp")
								source(srcset="images/baking_new@2x.png 2x")
								img(src="images/baking_new.png" alt="" class="menu-item__image menu-item__image_baking")
						.menu-item-front__title Выпечка
					.menu-item-back
						picture
							source(srcset="images/wave.webp" type="image/webp")
							img(src="images/wave.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Выпечка
						button.menu-item-back__button(data-file="menu-bakery.pdf") Посмотреть меню

			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--brown
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/breakfast_new.webp" type="image/webp")
								img(src="images/breakfast_new.png" alt="" class="menu-item__image")
						.menu-item-front__title Завтрак
					.menu-item-back
						picture
							source(srcset="images/wave-red.webp" type="image/webp")
							img(src="images/wave-red.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Завтрак
						button.menu-item-back__button(data-file="menu-lunch.pdf") Посмотреть меню

			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--red
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/lunch.webp" type="image/webp")
								img(src="images/lunch.png" alt="" class="menu-item__image menu-item__image_small")
						.menu-item-front__title Обеды
					.menu-item-back
						picture
							source(srcset="images/wave.webp" type="image/webp")
							img(src="images/wave.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Обеды
						button.menu-item-back__button(data-file="menu-dinner.pdf") Посмотреть меню

			.col-12.col-md-4.col-lg-3
				.menu-item.menu-item--red
					.menu-item-front
						.menu-item__image-wrapper
							picture
								source(srcset="images/coffee-bean.webp" type="image/webp")
								source(srcset="images/coffee-bean@2x.png 2x")
								img(src="images/coffee-bean.png" alt="" class="menu-item__image menu-item__image_small")
						.menu-item-front__title Кофе в зернах
					.menu-item-back
						picture
							source(srcset="images/wave.webp" type="image/webp")
							img(src="images/wave.png" alt="" class="menu-item-back__icon")
						.menu-item-back__title Кофе в зернах
						button.menu-item-back__button(data-modal="modal-menu-coffee") Посмотреть меню

