.modal.modal-all-address#all-address.section-ligth
	.container
		.row.modal-all-address-row
			.title
				h2 Адреса
				span Кофе Хауз New.
			.row
				.col-12
					table.table.table-all-address
						thead
							tr
								th Адрес
								th Станция метро
								th Режим работы
						tbody
							tr
								td Автозаводская, д. 13/1  #[span (Кофе Хауз Киоск)]
								td Автозаводская
								td Будни - c 07:00 по 21:00,#[br]Сб - Вс - c 08:00 по 19:00
							tr
								td Андропова, д. 22 "БЦ Нагатинский" #[span (Кофе Хауз Киоск)]
								td Коломенская
								td Будни - c 08:00 по 20:00,#[br]Сб - с 09:00 по 18:00,#[br] Вс - выходной
							tr
								td Арбат, д. 19 #[span (Кофе Хауз Киоск)]
								td Арбатская
								td Будни - c 08:00 по 18:00,#[br]Сб - Вс, праздничные дни - выходной
							tr
								td.open24 Б.Полянка, д. 30
								td Полянка
								td Круглосуточно
							tr
								td Варшавское шоссе, д. 26, стр 5.7.8 #[span (Кофе Хауз Киоск)]
								td Нагатинская
								td Будни - c 08:00 по 21:00,#[br]Сб - Вс c 10:00 по 19:00
							tr
								td Волгоградский проспект, д. 46/15 стр. 3а #[span (Кофе Хауз Киоск)]
								td Текстильщики
								td Будни - c 07:00 по 22:00,#[br]Сб - Вс c 08:00 по 21:00
							tr
								td Земляной Вал, д. 29 #[span (Кофе Хауз Киоск)]
								td Курская
								td Будни - с 07:00 до 22:00,#[br]Сб - Вс c 08:00 по 22:00
							tr
								td Зубовский б-р, д. 4 #[span 6-й этаж (РИА Новости) Кофе Хауз Киоск]
								td Парк Культуры
								td Будни - c 08:00 по 19:00,#[br]Сб - Вс - выходной
							tr
								td Зубовский б-р, д. 4 #[span 2-й этаж (РИА Новости) Кофе Хауз Киоск]
								td Парк Культуры
								td Будни - c 08:00 по 20:00,#[br]Сб - c 09:00 по 17:00
							tr
								td Зубовский б-р, д. 15 стр. 1
								td Парк Культуры
								td Будни - c 07:00 по 21:00,#[br]Сб - Вс - c 08:00 по 20:00
							tr
								td Комсомольская площадь, д.2 #[span (Казанский вокзал, 5-ый подъезд)]
								td Комсомольская
								td Ежедневно с 07:00 до 18:00
							tr
								td.open24 Комсомольская площадь, д.2 #[span (Казанский вокзал, платформа пригород)]
								td Комсомольская
								td Круглосуточно
							tr
								td Комсомольская площадь, д.2 #[span (Казанский вокзал, подъезд 2)]
								td Комсомольская
								td Будни - c 07:00 по 19:00,#[br]Сб - Вс - c 07:00 по 18:00
							tr
								td.open24 Комсомольская площадь, д.2 #[span (Казанский вокзал, павильон 23)]
								td Комсомольская
								td Круглосуточно
							tr
								td Комсомольская площадь, д.5 #[span (Ярославский вокзал)]
								td Комсомольская
								td Пн - Чт - круглосуточно,#[br]Пт - Вс - c 07:00 по 23:00
							tr
								td.open24 Комсомольская пл, д. 3 #[span (Кофе Хауз Киоск)]
								td Комсомольская
								td Круглосуточно
							tr
								td Ленинская Слобода д. 19, БЦ Омега Плаза #[span (Кофе Хауз Киоск)]
								td Автозаводская
								td Будни - c 07:30 по 20:00,#[br]Сб - c 09:00 по 17:00,#[br] Вс - выходной
							tr
								td.open24 Маросейка, д. 6/8 стр. 1
								td Китай-Город
								td Круглосуточно
							tr
								td м. Менделеевская, подуличный переход
								td Менделеевская
								td Будни - c 07:30 по 22:00,#[br]Сб - Вс - c 09:00 по 18:00
							tr
								td Павелецкая пл, д. 1А стр. 1 #[span (Кофе Хауз Киоск)]
								td Павелецкая
								td Будни - c 07:00 по 22:00,#[br]Сб - Вс - c 07:00 по 21:00
							tr
								td Савеловский вокзала, д. 2
								td Савеловская
								td Ежедневно с 7:00 до 23:00
							tr
								td Сущевский Вал, д. 59
								td Марьина Роща
								td Ежедневно с 7:00 до 21:00
							tr
								td.open24 Шаболовка, д. 30/12
								td Шаболовка
								td Круглосуточно
							tr
								td МО, Балашиха, ул. Парковая., д. 2
								td Новогиреево
								td Ежедневно с 08:00 до 21:00
							tr
								td.open24 г. Москва, аэропорт  Шереметьево, терминал B
								td Аэропорт Шереметьево
								td Круглосуточно

.modal.all-address-mobile#all-address-mobile.section-ligth
	.container
		.row
			.title
				h2 Адреса
				span Кофе Хауз New.
			.row
				.col-12.address-wrapper
					.address-item
						p.address Автозаводская, д. 13/1  #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Автозаводская
						p #[span Режим работы]: #[br]Будни - c 07:00 по 21:00,#[br]Сб - Вс - c 08:00 по 19:00
					.address-item
						p.address Андропова, д. 22 "БЦ Нагатинский" #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Коломенская
						p #[span Режим работы]: #[br]Будни - c 08:00 по 20:00,#[br]Сб - с 09:00 по 18:00,#[br] Вс - выходной
					.address-item
						p.address Арбат, д. 19 #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Арбатская
						p #[span Режим работы]: #[br]Будни - c 08:00 по 18:00,#[br]Сб - Вс, праздничные дни - выходной
					.address-item
						p.address.open24 Б.Полянка, д. 30
						p #[span Станция метро]: Полянка
						p #[span Режим работы]: Круглосуточно
					.address-item
						p.address Варшавское шоссе, д. 26, стр 5.7.8 #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Нагатинская
						p #[span Режим работы]: #[br]Будни - c 08:00 по 21:00,#[br]Сб - Вс c 10:00 по 19:00
					.address-item
						p.address Волгоградский проспект, д. 46/15 стр. 3а #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Текстильщики
						p #[span Режим работы]: #[br]Будни - c 07:00 по 22:00,#[br]Сб - Вс c 08:00 по 21:00
					.address-item
						p.address Земляной Вал, д. 29 #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Курская
						p #[span Режим работы]: #[br]Будни - c 07:00 по 22:00,#[br]Сб - Вс c 08:00 по 22:00
					.address-item
						p.address Зубовский б-р, д. 4 #[span 6-й этаж (РИА Новости) Кофе Хауз Киоск]
						p #[span Станция метро]: Парк Культуры
						p #[span Режим работы]: #[br]Будни - c 08:00 по 19:00,#[br]Сб - Вс - выходной
					.address-item
						p.address Зубовский б-р, д. 4 #[span 2-й этаж (РИА Новости) Кофе Хауз Киоск]
						p #[span Станция метро]: Парк Культуры
						p #[span Режим работы]: #[br]Будни - c 08:00 по 20:00,#[br]Сб - c 09:00 по 17:00
					.address-item
						p.address Зубовский б-р, д. 15 стр. 1
						p #[span Станция метро]: Парк Культуры
						p #[span Режим работы]: #[br]Будни - c 07:00 по 21:00,#[br]Сб - Вс - c 08:00 по 20:00
					.address-item
						p.address Комсомольская площадь, д.2 #[span (Казанский вокзал, 5-ый подъезд)]
						p #[span Станция метро]: Комсомольская
						p #[span Режим работы]: #[br]Ежедневно с 07:00 до 18:00
					.address-item
						p.address.open24 Комсомольская площадь, д.2 #[span (Казанский вокзал, платформа пригород)]
						p #[span Станция метро]: Комсомольская
						p #[span Режим работы]: Круглосуточно
					.address-item
						p.address Комсомольская площадь, д.2 #[span (Казанский вокзал, подъезд 2)]
						p #[span Станция метро]: Комсомольская
						p #[span Режим работы]: #[br]Будни - c 07:00 по 19:00,#[br]Сб - Вс - c 07:00 по 18:00
					.address-item
						p.address.open24 Комсомольская площадь, д.2 #[span (Казанский вокзал, павильон 23)]
						p #[span Станция метро]: Комсомольская
						p #[span Режим работы]: Круглосуточно
					.address-item
						p.address Комсомольская площадь, д.5 #[span (Ярославский вокзал)]
						p #[span Станция метро]: Комсомольская
						p #[span Режим работы]: #[br]Пн - Чт - круглосуточно,#[br]Пт - Вс - c 07:00 по 23:00
					.address-item
						p.address.open24 Комсомольская пл, д. 3 #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Комсомольская
						p #[span Режим работы]: Круглосуточно
					.address-item
						p.address Ленинская Слобода д. 19, БЦ Омега Плаза #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Автозаводская
						p #[span Режим работы]: #[br]Будни - c 07:30 по 20:00,#[br]Сб - c 09:00 по 17:00,#[br] Вс - выходной
					.address-item
						p.address.open24 Маросейка, д. 6/8 стр. 1
						p #[span Станция метро]: Китай-Город
						p #[span Режим работы]: Круглосуточно
					.address-item
						p.address м. Менделеевская, подуличный переход
						p #[span Станция метро]: Менделеевская
						p #[span Режим работы]: #[br]Будни - c 07:30 по 22:00,#[br]Сб - Вс - c 09:00 по 18:00
					.address-item
						p.address Павелецкая пл, д. 1А стр. 1 #[span (Кофе Хауз Киоск)]
						p #[span Станция метро]: Павелецкая
						p #[span Режим работы]: #[br]Будни - c 07:00 по 22:00,#[br]Сб - Вс - c 07:00 по 21:00
					.address-item
						p.address Савеловский вокзала, д. 2
						p #[span Станция метро]: Савеловская
						p #[span Режим работы]: #[br]Ежедневно с 7:00 до 23:00
					.address-item
						p.address Сущевский Вал, д. 59
						p #[span Станция метро]: Марьина Роща
						p #[span Режим работы]: #[br]Ежедневно с 7:00 до 21:00
					.address-item
						p.address.open24 Шаболовка, д. 30/12
						p #[span Станция метро]: Шаболовка
						p #[span Режим работы]: Круглосуточно
					.address-item
						p.address МО, Балашиха, ул. Парковая., д. 2
						p #[span Станция метро]: Новогиреево
						p #[span Режим работы]: #[br]Ежедневно с 08:00 до 21:00
					.address-item
						p.address.open24 г. Москва, аэропорт  Шереметьево, терминал B
						p #[span Станция метро]: Аэропорт Шереметьево
						p #[span Режим работы]: Круглосуточно

.modal.modal-menu#modal-menu-coffee.section-ligth
	.container
		.row
			.col-12
				.owl-carousel-wrapper
					.owl-carousel.owl-menu.owl-menu-coffee
						.offer-wrapper
							.offer-item
								.offer__image
									picture
										source(srcset="images/menu/menu-coffee-1.webp" type="image/webp")
										img(src="images/menu/menu-coffee-1.png")
								.offer__content
									h3.offer-title Кофе Хауз Бленд
									p.offer-text
										| #[b Состав]: 100% Арабика #[br]#[br]
										| #[b Степень обжарки]: Средняя
									button.read-more Подробнее
									.offer-text-more
										p.offer-text
											| #[b Производство]: #[br]
											| – Мы используем только #[b свежий урожай] текущего
											| или переходящего года сбора; #[br]
											| – Каждая партия проходит этапы сортировки и хранится
											| на складах #[b при оптимальной температуре]; #[br]
											| – #[b Собственная обжарка] контролируется нашими опытными рост мастерами (специалист по обжарке кофейного зерна), что позволяет контролировать качество каждой партии на всех ее этапах.
									p.offer-condition

					.info-block
						p Меню может отличаться по наличию ассортимента в разных кофейнях.
