section.section-promo.section-ligth
	.container-fluid
		.row.promo-wrapper
			picture
				source(srcset="images/promo1_mobile.webp" type="image/webp" media="(max-width: 575px)")
				source(srcset="images/promo1_mobile.jpg" media="(max-width: 575px)")
				source(srcset="images/promo1.webp" type="image/webp")
				img.promo(src="images/promo1.jpg" alt="")
