section.section-special-offers.section-ligth#special-offers
	.container
		.row.align-items-center
			.col-12
				.title
					h2 Спецпредложения
					span Пора перекусить
			.w-100
			.col-12
				.owl-carousel-wrapper
					.offer-nav
						button.btn-prev
							+svg('arrow')
						div #[span.current-offer 1]/ #[span.length-offer 4]
						button.btn-next
							+svg('arrow')

					.owl-carousel.owl-special-offers
						.offer-wrapper
							.offer-item
								.offer__image
									picture
										source(srcset="images/offer0_new.webp" type="image/webp")
										img(src="images/offer0_new.jpg")
								.offer__content
									h3.offer-title Комбо «Завтрак»
									p.offer-text
										| Начните свой день правильно – с #[b вкусного и сытного] Комбо «Завтрак».
									button.read-more Подробнее
									.offer-text-more
										h3.offer-title Комбо за 180 ₽
										p.offer-text
											| Любимые всеми Комбо стали #[b еще доступнее!]
											| #[b Новый формат] сэндвичей, но все тот же #[b отличный вкус].
										p.offer-condition
												| * В  аэропорту Шереметьево стоимость Комбо "Завтрак" - 149 ₽, "Комбо за 180" – 200 ₽

						.offer-wrapper
							.offer-item
								.offer__image
									picture
										source(srcset="images/offer1.webp" type="image/webp")
										img(src="images/offer1.jpg")
								.offer__content
									h3.offer-title Вкусно. Быстро. Доступно.
									p.offer-text
										| #[b Цены] на Комбо стали еще #[b доступнее]!#[br] Мы обновили формат сэндвичей, но оставили #[b вкус, любимый нашими гостями].
									button.read-more Подробнее
									.offer-text-more
										p.offer-text
											| Половинки ароматного свежего хлеба и #[b несколько начинок на выбор]. Подкопченная ветчина с ломтиком сыра и острым соусом Ранч, сочный ростбиф с хрустящими маринованными огурцами, нежное филе курицы с трюфельным соусом.#[br]#[br] Вместе с сэндвичем в Комбо входит #[b картофельный хашбраун] в золотистой корочке и #[b нежный Капучино]. Такое трио превратит ваш перекус в #[b незабываемое удовольствие].
										p.offer-condition
											| * В  аэропорту Шереметьево стоимость "Комбо за 190" - 210 ₽, "Комбо за 200" – 220 ₽

						.offer-wrapper
							.offer-item
								.offer__image
									picture
										source(srcset="images/offer-combo-119.webp" type="image/webp")
										img(src="images/offer-combo-119.jpg")
								.offer__content
									h3.offer-title Комбо «Хит»
									p.offer-text
										| Привычный, но всеми любимый дуэт.
									button.read-more Подробнее
									.offer-text-more
										p.offer-text
											| #[b Подрумяненный тост] с двумя #[b кусочками расплавленного сыра] и #[b напиток] на ваш выбор: Капучино (S), Американо (S) или Чай (S). #[b Зарядит энергией] на оставшийся день.
										p.offer-condition
											| * В  аэропорту Шереметьево стоимость Комбо "Хит" - 179 ₽

						.offer-wrapper
							.offer-item
								.offer__image
									picture
										source(srcset="images/offer-bakery-400.webp" type="image/webp")
										img(src="images/offer-bakery-400.jpg")
								.offer__content
									h3.offer-title Выпечка Микс за 400 ₽
									p.offer-text
										| При заказе #[b 6-ти наименований] из категории  выпечка #[b фиксированная цена 400 ₽]. Порадуй себя вкуснейшей выпечкой от Кофе Хауз!
									p.offer-condition
