extends pug/base

append vars
	title Кофе Хауз
	- link.icon = 'favicon.ico'
	- link.icon16x16 = 'favicon-16x16.png'
	- link.icon32x32 = 'favicon-32x32.png'
	- link.appleTouchIcon = 'apple-touch-icon.png'
	- link.manifest = '/manifest.json'
	- meta.viewport = 'width=device-width, viewport-fit=cover'

block content
	include pug/temlates/header
	include pug/temlates/special-offers
	include pug/temlates/about
	include pug/temlates/menu
	include pug/temlates/promo
	include pug/temlates/map
	include pug/temlates/footer
	include pug/temlates/modal
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

