*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-family-muller;
	font-size: 16px;
	background-color: #f9f6f1;
}

.section {
	&-ligth * {
		color: $color-text-dark;
	}

	&-dark * {
		color: $color-white;
	}
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2 {
	height: 49px;
	font-weight: 700;
	font-size: 48px;
	line-height: 36px;
	color: $color-white;

	@media (max-width: 767px) {
		margin-bottom: -10px;
		font-size: 24px;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition-duration: 0.4s;

	&.link {
		border-bottom: 1px solid $color-white;
		padding-bottom: 3px;
		color: $color-white;
		opacity: 0.4;

		&:hover {
			opacity: 0.8;
		}
	}

	&.link-no-opacity {
		span {
			font-weight: 500;
		}
	}
}

button {
	margin: 0;
	border: none;
	padding: 0;
	color: $color-white;
	background-color: transparent;

	&.link-no-opacity {
		position: relative;
		border-bottom: 1px solid $color-white;
		padding-bottom: 3px;
		font-weight: 300;
		letter-spacing: 0.9px;

		&:hover {
			border-color: $nav-hover-color;
			color: $nav-hover-color;
		}

		span {
			font-weight: 500;
		}
	}
}

.title {
	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 0;
	}

	span {
		margin-left: 28px;
		height: 37px;
		font-weight: 500;
		font-size: 18px;
		line-height: 17px;
		color: $color-red;

		@media (max-width: 767px) {
			margin-left: 0;
			width: 100% !important;
			font-size: 14px;
		}
	}
}

* {
	outline: none;
}
