@font-face {
	src: url("../fonts/Muller-Light.woff2") format("woff2"), url("../fonts/Muller-Light.woff") format("woff");
	font-family: "Muller";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Muller-Regular.woff2") format("woff2"), url("../fonts/Muller-Regular.woff") format("woff");
	font-family: "Muller";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Muller-Medium.woff2") format("woff2"), url("../fonts/Muller-Medium.woff") format("woff");
	font-family: "Muller";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Muller-Bold.woff2") format("woff2"), url("../fonts/Muller-Bold.woff") format("woff");
	font-family: "Muller";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Muller-ExtraBold.woff2") format("woff2"), url("../fonts/Muller-ExtraBold.woff") format("woff");
	font-family: "Muller";
	font-weight: 800;
	font-style: normal;
}
