$sprites: (
	"open24": (
		normal: (
			x: 0,
			y: 0,
			width: 35,
			height: 28,
			image: "sprites.png",
			total_width: 35,
			total_height: 28,
		),
		retina: (
			x: 0,
			y: 0,
			width: 70,
			height: 56,
			image: "sprites@2x.png",
			total_width: 70,
			total_height: 56,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
