// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-red: #ef5646;
$color-grey: #c6b3b5;

$color-text-dark: #3f2b2d;

$nav-main-color: $color-white;
$nav-hover-color: $color-red;

// FONTS
$font-family-muller: "Muller", sans-serif;
