// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";

@import "./templates/header";
@import "./templates/special-offers";
@import "./templates/about";
@import "./templates/menu";
@import "./templates/promo";
@import "./templates/map";
@import "./templates/footer";
@import "./templates/modal";
@import "./templates/carousel";

.table {
	border: 2px solid #f0eae6;
	border-collapse: unset;
	border-radius: 10px 10px 0 0;
	width: 830px;
	max-width: 100%;
	font-size: 14px;

	thead {
		height: 49px;
		background-color: #f0eae6;
	}

	td,
	th {
		border-top: 1px solid #f0eae6;
		padding: 16px 20px;

		&:first-child {
			position: relative;
			padding-left: 97px;

			@media (max-width: 991px) {
				font-size: 15px;
			}

			&.open24::before {
				@include sprite("open24");

				content: "";
				position: absolute;
				left: 35px;
				top: 22px;
				margin-right: 28px;
				margin-bottom: 4px;
			}

			span {
				font-size: 14px;
			}
		}
	}
}

.table-all-address {
	display: block;
	width: 100%;
	max-width: 100%;

	@media (max-width: 991px) {
		font-size: 13px;
	}

	th,
	td {
		&:nth-child(1) {
			width: 50%;

			@media (max-width: 991px) {
				width: 46%;
			}
		}

		&:nth-child(2) {
			width: 18%;

			@media (max-width: 991px) {
				width: 24%;
			}
		}

		&:nth-child(3) {
			width: 32%;

			@media (max-width: 991px) {
				width: 30%;
			}
		}
	}

	td {
		padding-top: 28px;
		padding-bottom: 28px;
	}

	thead,
	tbody {
		display: block;
	}

	tbody {
		overflow-y: auto;
		max-height: 55vh;
	}
}

.read-more {
	position: relative;
	display: none;
	border-bottom: 1px solid $color-text-dark;
	padding-bottom: 4px;
	font-weight: 600;

	@media (max-width: 767px) {
		display: block;
	}

	&:hover {
		border-color: $color-red;
		color: $color-red;
	}

	&::after {
		content: "+";
		position: absolute;
		right: -15px;
		top: 0;
		font-weight: 800;
		color: $color-red;
	}

	&.isOpen::after {
		content: "x";
	}
}
