.section-about {
	padding: 144px 0 154px;

	@media (max-width: 767px) {
		padding: 50px 0;
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100 + 70px);

		@supports (padding-bottom: constant(safe-area-inset-bottom)) {
			--safe-area-inset-bottom: constant(safe-area-inset-bottom);
			min-height: calc(var(--vh, 1vh) * 100 + 82px + var(--safe-area-inset-bottom));
		}

		@supports (padding-bottom: env(safe-area-inset-bottom)) {
			--safe-area-inset-bottom: env(safe-area-inset-bottom);
			min-height: calc(var(--vh, 1vh) * 100 + 82px + var(--safe-area-inset-bottom));
		}
	}

	html.no-webp & {
		background: url("../images/about-bg.jpg") top center no-repeat;
		background-size: cover;
	}

	html.webp & {
		background: url("../images/about-bg.webp") top center no-repeat;
		background-size: cover;
	}

	.title {
		margin-bottom: 68px;

		@media (max-width: 767px) {
			margin-bottom: 30px;

			h2 {
				margin-bottom: 30px;
				max-width: 140px;
			}
		}

		span {
			width: 170px;
		}
	}

	.advantages-item {
		padding-right: 15px;
		padding-left: 15px;

		@media (max-width: 767px) {
			padding-right: 35px;
			padding-left: 35px;
		}

		&__icon {
			margin-bottom: 32px;
			width: 38px;
			height: 31px;

			@media (max-width: 767px) {
				margin-bottom: 22px;
			}
		}

		&__title {
			margin-bottom: 20px;
			font-size: 34px;

			@media (max-width: 991px) {
				font-size: 24px;
			}

			@media (max-width: 767px) {
				font-weight: 500;
				font-size: 18px;
			}
		}

		&__text {
			font-weight: 300;
			font-size: 16px;
			line-height: 24px;

			@media (max-width: 375px) {
				font-size: 14px;
			}
		}
	}
}
