.owl-carousel {
	.owl-dots {
		text-align: center;
	}

	button.owl-dot {
		margin-top: 26px;
		margin-right: 14px;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		background: $color-white;
		opacity: 0.5;

		&.active {
			opacity: 1;
		}
	}
}

.owl-carousel-wrapper {
	.offer-nav {
		position: absolute;
		right: 15px;
		top: -10px;
		z-index: 100;
		display: flex;
		align-items: center;
		font-size: 24px;

		@media (max-width: 768px) {
			top: auto;
			bottom: -30px;
			font-size: 14px;
		}

		div,
		span {
			padding-bottom: 5px;
			color: $color-grey;
		}

		.current-offer {
			font-weight: 700;
			font-size: 36px;
			color: $color-text-dark;

			@media (max-width: 768px) {
				font-size: 27px;
			}
		}

		.btn-next svg,
		.btn-prev svg {
			width: 32px;
			height: 13px;
			opacity: 0.4;

			@media (max-width: 768px) {
				width: 20px;
			}

			&:hover {
				opacity: 1;
			}
		}

		.btn-prev {
			margin-right: 15px;
			transform: rotate(180deg);
		}

		.btn-next {
			margin-left: 15px;
		}
	}

	.offer-wrapper {
		padding-top: 46px;
		padding-bottom: 50px;
		padding-left: 170px;

		@media (max-width: 768px) {
			padding-bottom: 20px;
			padding-left: 23px;
		}

		.offer-item {
			display: flex;
			align-items: center;
			border: 6px solid $color-red;
			padding-right: 40px;
			padding-left: 460px;
			min-height: 500px;

			@media (max-width: 1199px) {
				padding-left: 380px;
			}

			@media (max-width: 991px) {
				padding-left: 190px;
			}

			@media (max-width: 768px) {
				align-items: flex-start;
				padding-top: 255px;
				padding-right: 20px;
				padding-left: 20px;
			}

			@media (max-width: 575px) {
				padding-top: 145px;
				padding-bottom: 10px;
				min-height: 404px;
			}
		}

		.offer__image {
			position: absolute;
			left: 0;
			top: 0;
			background-color: #f9f6f1;

			img {
				@media (max-width: 1199px) {
					max-width: 520px;
				}

				@media (max-width: 991px) {
					max-width: 350px;
				}

				@media (max-width: 767px) {
					max-width: 265px;
				}

				@media (max-width: 575px) {
					max-width: 215px;
				}
			}
		}

		.offer__content {
			.offer-title {
				margin-bottom: 18px;
				font-size: 34px;

				@media (max-width: 991px) {
					font-size: 24px;
				}

				@media (max-width: 768px) {
					font-size: 18px;
				}
			}

			.offer-text {
				margin-top: 0;
				margin-bottom: 26px;
				font-size: 17px;
				line-height: 24px;

				@media (max-width: 767px) {
					font-size: 14px;
				}
			}

			.offer-text-more {
				display: none;

				@media (min-width: 768px) {
					display: block !important;
				}
			}

			.offer-condition {
				margin-top: 0;
				font-size: 14px;
			}
		}
	}
}

.modal.modal-menu {
	@media (max-width: 1400px) {
		padding-top: 100px;
	}

	@media (max-width: 1199px) {
		padding-bottom: 70px;
	}

	@media (max-width: 767px) {
		padding-top: 45px;
		padding-bottom: 15px;
	}

	.owl-carousel-wrapper {
		position: relative;

		.offer-wrapper {
			padding-bottom: 105px;

			@media (max-width: 1400px) {
				padding-bottom: 20px;
			}

			@media (max-width: 1199px) {
				padding-bottom: 70px;
			}

			@media (max-width: 767px) {
				padding-left: 0;
			}

			@media (max-width: 575px) {
				padding-top: 10px;
				padding-bottom: 0;
			}
		}

		.offer__image {
			top: 45px;
			max-width: 550px;
			background-color: #f9f6f1;

			@media (max-width: 1199px) {
				top: 46px;
			}

			@media (max-width: 991px) {
				left: -5px;
				top: 30px;
			}

			@media (max-width: 767px) {
				left: -22px;
				top: 30px;
			}

			@media (max-width: 575px) {
				left: 0;
				top: 0;
			}

			img {
				@media (max-width: 1199px) {
					max-width: 370px;
				}

				@media (max-width: 767px) {
					max-width: 275px;
				}

				@media (max-width: 575px) {
					max-width: 215px;
				}
			}
		}

		.offer-nav {
			@media (max-width: 991px) {
				right: 25px;
				top: auto;
			}

			@media (max-width: 767px) {
				bottom: 50px;
			}
		}
	}

	.offer-item {
		padding-left: 400px;

		@media (max-width: 1199px) {
			padding-left: 220px;
		}

		@media (max-width: 991px) {
			padding-top: 320px;
			padding-bottom: 40px;
			padding-left: 45px;
		}

		@media (max-width: 767px) {
			padding-top: 240px;
		}

		@media (max-width: 767px) {
			padding-top: 180px;
			padding-bottom: 15px;
			padding-left: 15px;
			min-height: 395px;
		}
	}

	.info-block {
		align-items: center;
		padding-left: 170px;

		@media (max-width: 991px) {
			padding-left: 25px;
		}

		@media (max-width: 767px) {
			padding-top: 70px;
			padding-left: 0;
			font-size: 12px;

			&::before {
				width: 65px;
			}
		}
	}
}

.owl-carousel.owl-menu-mobile,
.owl-carousel.owl-about {
	.owl-nav .owl-prev,
	.owl-nav .owl-next {
		position: absolute;
		top: 30%;
		width: 30px;
		opacity: 0.3;

		&:hover {
			opacity: 1;
		}
	}

	.owl-nav .owl-prev {
		left: 5%;

		@media (max-width: 375px) {
			left: -4%;
		}
	}

	.owl-nav .owl-next {
		right: 5%;

		@media (max-width: 375px) {
			right: -4%;
		}
	}
}

.owl-carousel.owl-about {
	.owl-nav .owl-prev,
	.owl-nav .owl-next {
		top: 50%;
	}

	.owl-nav .owl-prev {
		left: 0;
	}

	.owl-nav .owl-next {
		right: 0;
	}
}

.owl-carousel.owl-menu-mobile {
	.menu-item-front {
		margin: 0 auto;
	}

	.menu-item-back {
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.owl-carousel-wrapper {
	.owl-menu.owl-menu-coffee {
		.offer__image {
			img {
				@media (max-width: 575px) {
					max-width: 155px;
				}
			}
		}
	}
}
