.section-footer {
	padding: 45px 0 50px;
	background-color: $color-text-dark;

	@media (max-width: 767px) {
		padding-left: 40px;
	}

	.logo-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		@media (max-width: 1199px) {
			flex-direction: column;
			align-items: flex-start;
		}

		@media (min-width: 768px) AND (max-width: 991px) {
			align-items: center;
			justify-content: center;
			margin-top: 40px;
			margin-bottom: 15px;
		}

		@media (max-width: 767px) {
			margin-bottom: 35px;
		}

		.logo {
			margin-right: 28px;
			width: 200px;
		}

		.copy {
			font-size: 16px;
			color: $color-grey;
		}
	}

	.link-wrap {
		display: block;
	}

	a.link {
		border-color: $color-grey;
		color: $color-grey;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	.link-pride {
		opacity: 0.4;

		span {
			color: $color-red;
		}

		&:hover {
			opacity: 1;
		}
	}

	.footer__info {
		@media (max-width: 991px) {
			text-align: center;
		}

		.link-wrap {
			@media (max-width: 991px) {
				display: none;
			}
		}
	}

	.footer__nav {
		display: flex;
		padding-top: 16px;
		padding-left: 40px;

		@media (max-width: 1199px) {
			padding-top: 0;
			padding-left: 60px;
		}

		@media (max-width: 991px) {
			justify-content: center;
			padding-left: 0;
		}

		a {
			display: inline-block;
			margin-bottom: 17px;

			&:hover {
				color: $color-red;
			}
		}

		&-links {
			padding-right: 0;
		}

		&-links-col1 a {
			margin-right: 46px;

			@media (max-width: 767px) {
				margin-right: 27px;
			}
		}

		&-links-col2 a:first-child {
			margin-right: 46px;

			@media (max-width: 767px) {
				margin-right: 27px;
			}
		}

		@media (max-width: 767px) {
			justify-content: flex-start;
			margin-bottom: 30px;
			padding-left: 15px;

			&-links-col1,
			&-links-col2 {
				display: flex;
				flex-direction: column;
				max-width: 125px;
			}
		}
	}

	.footer-social {
		padding-top: 16px;
		text-align: right;

		@media (max-width: 1199px) {
			padding-top: 0;
		}

		@media (max-width: 991px) {
			text-align: center;
		}

		@media (max-width: 767px) {
			text-align: left;
		}

		svg {
			margin-right: 19px;
			width: 18px;
			max-height: 19px;
			fill: $color-grey;

			&:hover {
				fill: $color-red;
			}

			@media (max-width: 991px) {
				margin-top: 25px;
			}
		}

		.link-wrap {
			margin-top: 43px;

			@media (max-width: 1199px) {
				margin-top: 88px;
			}

			@media (max-width: 991px) {
				margin-top: 32px;
				margin-bottom: 0;
			}
		}

		.link-wrap .link-terms {
			display: none;

			@media (max-width: 991px) {
				display: inline;
				font-size: 14px;
			}
		}
	}
}
