header.header {
	padding: 45px 0;
	min-height: 100vh;

	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 30px;
		width: 100%;
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100);
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(var(--vh, 1vh) * 100 - 90px);

		@media (max-width: 767px) {
			justify-content: normal;
			height: auto;
			min-height: calc(var(--vh, 1vh) * 100 - 60px);
		}
	}

	html.no-webp & {
		background: url("../images/header.jpg") top center no-repeat, $color-text-dark;
		background-size: cover;

		@media (max-width: 767px) {
			background-position-x: 60%;
		}
	}

	html.webp & {
		background: url("../images/header.webp") top center no-repeat, $color-text-dark;
		background-size: cover;

		@media (max-width: 767px) {
			background-position-x: 60%;
		}
	}

	.logo-wrapper {
		display: flex;
		align-items: center;

		.logo {
			width: 275px;
			max-width: 100%;

			@media (max-width: 991px) {
				width: 225px;
			}

			@media (max-width: 575px) {
				width: 155px;
			}
		}

		span {
			margin-left: 13px;
			width: 85px;
			height: 33px;
			font-weight: 500;
			font-size: 15px;
			line-height: 17px;
			color: $color-red;

			@media (max-width: 1199px) {
				width: 110px;
			}

			@media (max-width: 991px) {
				width: 130px;
			}

			@media (max-width: 575px) {
				width: 60px;
				height: 20px;
				font-size: 10px;
				line-height: 10px;
			}
		}
	}

	.nav-desktop,
	.link-old_desktop {
		@media (max-width: 991px) {
			display: none;
		}
	}

	.link-old_desktop a {
		color: $color-white;
		opacity: 0.9;
		transition: none;

		&:hover {
			opacity: 1;
		}
	}

	.nav ul {
		display: flex;
		justify-content: space-between;
		padding: 0 25px;

		a {
			letter-spacing: 0.4px;
			color: $nav-main-color;

			&:hover {
				color: $nav-hover-color;
			}
		}
	}

	.main-title-wrapper {
		@media (max-width: 767px) {
			margin-top: auto;
			margin-bottom: 80px;
		}

		@media (max-width: 575px) {
			margin-bottom: 40px;
		}
	}

	.main-title {
		margin: 0;
		border-left: 6px solid #ef5646;
		padding-left: 45px;
		font-size: 54px;
		line-height: 72px;
		text-transform: uppercase;
		color: $color-white;

		@media (max-width: 767px) {
			padding-left: 32px;
			font-size: 34px;
			line-height: 45px;
		}

		@media (max-width: 575px) {
			padding-left: 18px;
			font-size: 22px;
			line-height: 30px;
		}
	}

	button.link-no-opacity::after {
		content: "+";
		position: absolute;
		right: -15px;
		top: 1px;
		font-weight: 600;
		color: #ef5646;
	}
}

/* Кнопка меню навигации */
.menu-toggle {
	position: absolute;
	right: 10%;
	top: 50px;
	display: flex;
	width: 30px;
	height: 30px;
	cursor: pointer;

	@media (min-width: 992px) {
		display: none;
	}

	@media (max-width: 767px) {
		top: 33px;
	}

	&.on {
		display: block;

		.one {
			border-radius: 0;
			width: 100%;
			transform: rotate(45deg) translate(7px, 7px);
		}

		.two {
			opacity: 0;
		}

		.three {
			border-radius: 0;
			width: 100%;
			transform: rotate(-45deg) translate(8px, -10px);
		}
	}
}

.one,
.two,
.three {
	margin: 6px auto;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	background: $color-white;
	backface-visibility: hidden;
	transition-duration: 0.3s;
}

nav.nav.nav-mobile ul {
	display: block;
	margin: 4em auto;
	text-align: center;

	&.hidden {
		display: none;
	}

	li {
		margin-bottom: 36px;
	}

	a {
		font-size: 2rem;
		line-height: 1.5;

		@media (max-width: 767px) {
			font-size: 20px;
		}
	}

	.logo-wrapper {
		justify-content: center;
		margin-top: 101px;
		margin-bottom: 55px;
	}

	.link-old_mobile {
		margin-top: 55px;

		a {
			font-size: 1.2rem;
			transition: none;
			opacity: 1;

			&:hover {
				color: $color-white;
			}
		}

		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
}

.menu-section.on {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: block;
	width: 100vw;
	min-height: 100vh;
	background-color: $color-text-dark;
	transition-duration: 0.4s;

	@media (max-width: 767px) {
		width: 101vw;
		min-height: 101vh;
	}
}

/* END Кнопка меню навигации */
