.section-map {
	position: relative;
}

#map {
	width: 100%;
	height: 525px;

	html.is-device-mobile & {
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100 + 75px);
	}

	@media (max-width: 767px) {
		@supports (padding-bottom: constant(safe-area-inset-bottom)) {
			--safe-area-inset-bottom: constant(safe-area-inset-bottom);
			min-height: calc(var(--vh, 1vh) * 100 + 95px + var(--safe-area-inset-bottom));
		}

		@supports (padding-bottom: env(safe-area-inset-bottom)) {
			--safe-area-inset-bottom: env(safe-area-inset-bottom);
			min-height: calc(var(--vh, 1vh) * 100 + 95px + var(--safe-area-inset-bottom));
		}
	}

}

[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(60%);
}

.btn-all-address-wrapper {
	position: absolute;
	right: 12%;
	bottom: 63px;
	z-index: 99;

	@media (max-width: 767px) {
		right: 50%;
		width: 230px;
		transform: translate(50%, 0);
	}
}

.btn-all-address {
	position: relative;
	padding: 18px 47px 18px 24px;
	color: $color-white;
	background: $color-red;

	&::after {
		content: "+";
		position: absolute;
		right: 25px;
		top: 19px;
		font-weight: 600;
		color: $color-white;
	}
}
