.section-menu {
	padding: 117px 0;

	@media (max-width: 767px) {
		padding-top: 37px;
		padding-bottom: 95px;
	}

	.title {
		margin-bottom: 93px;

		@media (max-width: 767px) {
			margin-bottom: 0;
		}

		span {
			width: 112px;
		}
	}

	.menu-wrapper {
		margin: 0 auto;
		max-width: 1405px;
	}

	.menu-item {
		margin-bottom: 60px;
		font-weight: 700;
		font-size: 30px;
		text-align: center;

		@media (max-width: 767px) {
			margin-bottom: 0;
		}

		&--brown .menu-item-back {
			background-color: $color-text-dark;
		}

		&--red .menu-item-back {
			background-color: $color-red;

			.menu-item-back__button:hover {
				color: $color-text-dark;
			}
		}

		&__image-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 218px;
		}

		&__image {
			margin: 0 auto;
			max-width: 100%;

			@media (max-width: 1399px) {
				max-width: 90%;
			}

			&_small {
				max-width: 90% !important;

				@media (max-width: 1399px) {
					max-width: 70% !important;
				}

				@media (max-width: 767px) {
					max-width: 90% !important;
				}
			}

			&_combo,
			&_baking {
				@media (max-width: 1399px) {
					max-width: 100%;
				}
			}

			&_coffe-tea {
				@media (min-width: 1400px) {
					max-width: 80% !important;
				}

				@media (max-width: 1399px) {
					max-width: 60% !important;
				}

				@media (max-width: 767px) {
					max-width: 70% !important;
				}
			}

		}

		&-front {
			display: flex;
			flex-direction: column;
			width: 320px;
			height: 320px;
			max-width: 100%;

			@media (max-width: 1399px) {
				width: 260px;
				height: 260px;
			}

			&__title {
				margin-top: auto;

				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
		}

		&-back {
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			padding-top: 31px;
			width: 320px;
			height: 320px;
			max-width: 100%;
			opacity: 0;

			@media (max-width: 1399px) {
				width: 260px;
				height: 260px;
			}

			&__icon {
				margin: 0 auto 53px;
				width: 81px;

				@media (max-width: 1399px) {
					margin-bottom: 30px;
					width: 61px;
					max-width: 61px;
				}
			}

			&__title {
				margin-bottom: 20px;
				font-size: 36px;
				color: $color-white;

				@media (max-width: 767px) {
					font-size: 30px;
				}
			}

			&__button {
				font-weight: 500;
				font-size: 18px;
				color: $color-white;

				&:hover {
					color: $color-red;
				}
			}
		}
	}
}

.menu-item.show {
	.menu-item-front {
		opacity: 0;
		transition: all 0.1s;
	}

	.menu-item-back {
		opacity: 1;
		transition: all 1s;
	}
}
