.section-promo {
	@media (min-width: 768px) {
		padding: 17px 0 116px;
	}

	.promo-wrapper {
		justify-content: center;
	}

	img.promo {
		@media (max-width: 575px) {
			width: 100vw;
			max-width: none;
		}
	}
}
