.section-special-offers {
	padding: 106px 0;

	@media (max-width: 768px) {
		padding-top: 30px;
		padding-bottom: 40px;
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100 + 70px);

		@supports (padding-bottom: constant(safe-area-inset-bottom)) {
			--safe-area-inset-bottom: constant(safe-area-inset-bottom);
			min-height: calc(var(--vh, 1vh) * 100 + 75px + var(--safe-area-inset-bottom));
		}

		@supports (padding-bottom: env(safe-area-inset-bottom)) {
			--safe-area-inset-bottom: env(safe-area-inset-bottom);
			min-height: calc(var(--vh, 1vh) * 100 + 75px + var(--safe-area-inset-bottom));
		}
	}

	.title {
		margin-bottom: 55px;

		@media (max-width: 767px) {
			margin-bottom: 5px;
		}

		span {
			width: 100px;
		}
	}
}
